<!doctype html>

<html>

<head>
    <title>Login</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../libraries/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../stylesheets/css/loginView.css">
</head>

<body ng-app="login">
    <div ng-controller="loginController">
        <div class="container">
            <h1>
                AlleTiders
                <br>
                <small>Login nedenfor</small>
            </h1>
        </div>
        <div class="container">
            <form novalidate>
                <div class="form-group">
                    <input type="email" id="email" class="form-control" ng-model="email" placeholder="E-mail">
                </div>
                <div class="form-group">
                    <input type="password" id="password" class="form-control" ng-model="password" placeholder="Password">
                </div>
                <button class="btn btn-default" ng-click="login()">Login</button>
            </form>
            <!-- used for visual test of login-validation
      <div>
        {{validLogin}}
      </div>
-->
        </div>
    </div>
    <div class = "container" ng-controller="testLoginController">
        {{test}}<br>
          {{logins}}
           <table>
            <tr ng-repeat="x in testLogins">
                <td>{{x.memberId}}</td>
                <td>{{x.userId}}</td>
                <td>{{x.userPW}}</td>
            </tr>
        </table>
    </div>
    
    <script src="../libraries/angular/angular.js"></script>
    <script src="../libraries/jquery/jquery-3.2.0.js"></script>
    <script src="../libraries/bootstrap/js/bootstrap.js"></script>

    <script src="../javascript/controller/loginController.js"></script>
    <script src="../javascript/controller/testLoginController.js"></script>
</body>
</html>
