<div>
    <div class="container">
        <h1>
            AlleTiders
            <br>
            <small>Login nedenfor</small>
        </h1>
        <div ng-hide="msgLoginErr" class="alert alert-warning alert-dismissable fade in">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a> Email eller password forkert
        </div>
    </div>
    <div class="container">
        <form novalidate>
            <div class="form-group">
                <input type="email" id="email" class="form-control" ng-model="email" placeholder="E-mail">
            </div>
            <div class="form-group">
                <input type="password" id="password" class="form-control" ng-model="password" placeholder="Password">
            </div>
            <button id="btnLogin" class="btn btn-default" ng-click="loginNew()">Login</button>
        </form>
    </div>
</div>