<div ng-app="registration">
  <div ng-controller="registrationController">
    <div class="container">
      <h2>
        Timeregistrering
        <br>
        <small>Registrér timer for en frivillig:</small>
      </h2>
      <div ng-hide="msgSuccess" class="alert alert-success alert-dismissable fade in">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a> Timeregistrering fuldført!
      </div>
    </div>
    <div class="container">
      <form name="timeForm" novalidate>
        <div class="form-group">
          <label for="selectedProjectLaug">Laug eller projekt:</label>
          <select name="selectedProjectLaug" ng-model="form.selectedProjectLaug" class="form-control" ng-options="x for x in laug" required></select>
        </div>
        <div class="form-group">
          <label for="selectedFrivillig">Frivillig:</label>
          <select name="selectedFrivillig" ng-model="form.selectedFrivillig" class="form-control" ng-options="x for x in frivillige" required></select>
        </div>
        <div class="form-group">
          <label for="hours">Antal timer:</label>
          <input name="hours" type="tel" class="form-control" ng-model="form.hours" required>
        </div>
        <div class="form-group">
          <label for="date">Dato:</label>
          <input name="date" type="date" class="form-control" ng-model="form.date" required>
        </div>
        <div class="form-group">
          <label for="author">Registreret af:</label>
          <input name="author" type="text" class="form-control" ng-model="form.author" required>
          <span ng-show="timeForm.author.$invalid && timeForm.author.$dirty">The author is required.</span>
        </div>
        <button type="submit" id="btnRegister" class="btn btn-info" ng-click="registerTime()" ng-disabled="timeForm.$invalid">Send registrering</button>
        <button type="button" class="btn btn-info" ng-click="cancel()">Start forfra</button>
        <button type="button" class="btn btn-info" ng-click="downloadRegistrations()">Download timeregistreringsdata som CSV</button>
      </form>
    </div>
  </div>
</div>